/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos body y header*/

body{
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}


header{
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #746f6f;
}

header nav .navbar-toggler-icon{
    border-radius: 3px;
    border: 2px solid #f49336;
}

.nav-link{
    color: #ffffff; 
}


h1{
    text-align: left;
    color: #f49336;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}


.apages{
    text-align: left;
    color: #f49336;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

a{
    color: #ffffff;
    text-decoration: none;
    
}


.ahome{
    text-align: left;
    color: #f49336;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

header nav ul li{
    color:rgb(235, 220, 202);
    text-decoration: none;
    margin-left: 40px;
    margin-right: 5px;
    list-style: none;
    display: inline-block;
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}


/*estilos del main*/

main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
    margin: 1rem 3rem 3rem 3rem;
}

main h2{
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    align-items: center;

}
.contenedorcomp{
    display: flex;
    flex-direction: column;


}

.contenedorlogin{
    display: grid;
    grid-template-columns: 1fr;
}

main h2 .enunciado {
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

main h3{
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 100px;
    margin-left: 30px;
}

main h4{
    color:#f49336;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 60px;
    margin-left: 10px;
}

main h5{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}

.form-label{
    margin-left: 10px;
    padding-top: 20px;
}

.form-control{
    margin-left: 10px;
}

.form-check-input{
    margin-left: 10px;
}

.form-check-label{
    margin-left: 10px;
}

.btn{
    margin-left: 10px;
}


.hrheader{
    height: 10px;
    background-color: #f49336;
    border-color: #f49336;
    margin-top: 20px;
}

.hrmain{
    height: 10px;
    background-color: #ffffff;
    border-color: #ffffff;
    margin-top: 50px;
}

.hrpagesmain{
    height: 8px;
    background-color: #ffffff;
    border-color: #ffffff;
    margin-top: 200px;
}


/*estilos del footer*/


footer div ul{
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}

footer div ul .botonArrepentimiento{
    border: 2px solid #746f6f;
    background-color: #f49336;
    color: #000000;
    border-radius: 8px;
    padding: 3px 3px 3px 3px;
}

/*mq de tablet*/

@media screen and (min-width:600px){
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
    }
    .img-uno, .img-dos{
        grid-row: span 1;
    }
    .img-seis, .img-doce{
        grid-column: span 1;
    }
}

/*mq para desktop*/
@media screen and (min-width:1024px){
    main .img-uno, .img-dos, .img-ocho, .img-nueve{
        display: block;
    }
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40% 40% 20% ;
    }

    .img-tres, .img-cuatro, .img-diez{
        grid-row: span 2;
    }

    .img-cinco, .img-seis, .img-once{
        grid-column: span 1;
    }

    .img-siete, .img-doce{
        grid-column: span 1;
    }

    }
